.myImg {
  position: relative;
  width: 100%;
}
.img-container {
  box-sizing: border-box;
  position: relative;
  display: inline-block;
  /* resize: both; */
  height: 100px;
  width: 200px;
  background-size: cover;
}