#toolbar {
    margin-bottom: 20px;
    padding: 25px; 
}

main {
    margin-top: 20px;
    padding: 10px; 
}

/*------------------toolbar buttons---------------*/
.toolbar-button {
    font-size: 14px; 
    font-weight: bold;
    color: #333; 
    background-color: #fff; 
    border: 1px solid #555; 
    border-radius: 5px; 
    padding: 5px 15px; 
    margin: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: background-color 0.3s ease, color 0.3s ease; /* Smooth transition effect */
}

.toolbar-button.active {
    background-color:  #555; 
    color: #f0f0f0; 
}

.toolbar-button:hover {
    background-color:  #f0f0f0; 
    color: #555; 
}

/*------------------select elements---------------*/
select {
    font-size: 14px; 
    font-weight: bold;
    color: #333; 
    background-color: #fff;
    border: 1px solid #555; 
    border-radius: 5px; 
    padding: 5px; 
    margin: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease; 
}

select:hover {
    background-color: #f0f0f0; 
    color: #555; 
}