#first-div{
    /* border: solid; */
    width: clamp(250px, 60%, 1000px);
    margin: 0.5rem 1rem; 
    /* kan man använda % ?  */

    display: flex;
    flex-direction: column;
}

#first-rubrik{
    align-self: center;
    margin-bottom: 10px;
}

.info-div{
    margin: 20px 0;
}