#first-div {
  /* border: solid; */
  /* width: clamp(250px, 60%, 1000px); */
  margin: 0.5rem 1rem;
  /* kan man använda % ?  */
  max-height: 100vh;
  max-width: 75vw;

  overflow: scroll;
  display: flex;
  flex-direction: column;
}

#first-rubrik {
  align-self: center;
  margin: 1rem 0 1rem 1rem;
}

.info-div {
  margin: 20px 0;
}

p {
  line-height: 25px;
  margin: 0.5rem 0 0 2rem;
}

.header-info {
  margin: 0 0 0 2rem;
}

h1 {
  font-size: 1.8rem;
}

@media (min-width: 300px) and (max-width: 500px) {
  #first-div {
    max-height: 90vh;
    max-width: 100vw;
  }
  p {
    margin: 0;
    padding: 20px;
  }
  h1 {
    display: block;
    font-size: 1.8rem;
  }
  .header-info {
    margin: 0;
    padding: 0 20px 0 20px;
  }
}
