/* Mall 1 */
.note-template1 {
    --note-text-color: #ffb703;
    --note-header-color: #fb8500;
    --note-bg-color: #bb9457;
}

/* Mall 2 */
.note-template2 {
    --note-text-color: #4895ef;
    --note-header-color: #4361ee;
    --note-bg-color: #d9d9d9;
}

/* Mall 3 */
.note-template3 {
    --note-text-color: #bfd200;
    --note-header-color: #80b918;
    --note-bg-color: #ffccd5;
}

/* Standardmall eller andra generella stilar */
.note-template-standard {
    --note-text-color: black;
    --note-header-color: black;
    --note-bg-color: white;
}
