* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --toggle-sidebar: block;
  --toggle-dropdown: none;
  --toggle-header-icons: flex;
  --toggle-add: none;

  /* Colors */
  --header-color: rgb(53, 79, 82);
  --header-color: rgb(53, 79, 82);
  --logo-container-color: rgb(47, 62, 70);
  --logo-color: rgb(255, 255, 255);
  --sidebar-color: rgb(202, 210, 197);
  --sidebar-addbtn: rgb(132, 169, 140);
  --toolbar-color: rgba(0, 0, 0, 0.253);
  --default-text-color: rgb(0, 0, 0);
  --displayed-note-color: rgb(255, 255, 255);
  --delete-btn-color: rgb(132, 169, 140);
  --edit-buttons-primary: rgb(255, 255, 255);
  --edit-buttons-secondary: rgb(85,85,85);
  --edit-buttons-hover: rgb(240,240,240);
  --first-visit-primary: rgb(34,84,110);
  --dialog-background-color: rgb(255, 255, 255);
  --hashtag-button-color: rgb(132, 169, 140);
  --notes-text-color: rgb(47, 62, 70);
  --neon-text-shadow: none;
  /* note-template-colors */ /* Oscar ge FAN i mina note grejer mvh utvecklar */
  /* du är bränd jens, mvh en lite bättre cssare */
  --note-text-color: black;
  --note-header-color: black;
  --note-bg-color: white;
}


.material-symbols-outlined.md-40 {
  color: var(--logo-color);
  font-size: 40px;
  font-weight: 300;
  transition: scale 0.3s;
}

body {
  min-height: 100vh;
  width: 100vw;
  display: flex;
  background-color: var(--bgColor);
  color: var(--default-text-color);
  text-shadow: var(--neon-text-shadow);
}


.hidden {
  display: none;
}



/* HEADER CONTENT */
header {
  position: fixed;
  height: 100vh;
  width: 75px;
  background-color: var(--header-color);
  display: flex;
  flex-direction: column;
  user-select: none;
}

#logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  color: var(--logo-color);
  text-shadow: var(--neon-text-shadow);
  background-color: var(--logo-container-color);
  height: 75px;
  width: 75px;
  cursor: pointer;
}

#navigation {
  width: 100%;
  padding: 2rem 0;
  position: relative;
}

.nav-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

.icon {
  display: var(--toggle-header-icons);
  justify-content: center;
  align-items: center;
  list-style-type: none;
  padding: 1.5rem 0;
  transition: scale 0.5s;
}

.add, .show-notes {
  display: var(--toggle-add);
}

.dropdown {
  display: var(--toggle-dropdown);
  width: 75px;
}

/* SIDEBAR CONTENT */
#sidebar {
  position: fixed;
  display: var(--toggle-sidebar);
  left: 75px; /*FULLÖSNING*/
  width: 200px;
  height: 100vh;
  background-color: var(--sidebar-color);
  border-right: 5px solid rgba(66, 66, 66, 0.17);
  overflow: auto;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

#stars-icon.active .stars {
  color: #FFD700;
}

#stars-icon:not(.active) .stars {
  color: white;
}

#sidebar::-webkit-scrollbar {
  display: none;
}

.notes {
  width: 100%;
}

.add-btn {
  padding: 1rem 0;
  width: 100%;
  height: 75px; /*enligt önskemål från Oscar*/
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0;
  background-color: var(--sidebar-addbtn);
  transition: 0.5s;
}

/* TOOLBAR */
#toolbar {
  position: fixed;
  left: 275px;
  width: calc(100% - 275px);
  height: 30px;
  background-color: var(--toolbar-color);
  padding: 0 1rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5rem;
}


.toolbar-button {
  width: 20px;
}

/* TEXTAREA CONTENT */
main {
  position: fixed;
  top: 30px;
  left: 275px;
  width: calc(100% - 275px);
  height: calc(100% - 30px);
  color: var(--default-text-color);
}

#text-area {
  width: min(100%, 1300px);
  height: 98%;
  overflow: auto;
  padding: 3rem;
  background-color: var(--note-bg-color); /* för note-template */
  color: var(--note-text-color); /* för note-template */
}

#text-area h1, #text-area h2, #text-area h3 { /* för note-template */
  color: var(--note-header-color);
}

/* DENNA SKA BYTAS TILL EN KLASS SÅ ATT DEN KAN ÅTERANVÄNDAS I ALLA NOTES*/
#title {
  padding: 3rem;
  width: calc(100% - 276px);
  min-height: 100vh;
  resize: none;
  border: none;
}

/* SWAP BETWEEN NOTES */
.notes {
  padding: 0.5rem 1rem;
}

.notes:hover:not(.displayed-note) {
  background-color: rgba(255, 255, 255, 0.604);
}

.displayed-note {
  width: calc(100% + 5px);
  background-color: var(--displayed-note-color);
  border-right: 5px solid rgb(255, 255, 255);
}

.myImg {
  width: 100px;
}

.toolbar-button.active {
  background-color: #555;
  color: #f0f0f0;
}

.toolbar-button:hover {
  background-color: #f0f0f0;
  color: #555;
}

#side-bar-active {
  display: block;
  width: 100vw;
  z-index: 999;
  position: absolute;
}