* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --toggle-sidebar: block;
  --toggle-dropdown: none;
  --toggle-header-icons: flex;
  --toggle-add: none;
}

.material-symbols-outlined.md-40 {
  color: rgb(255, 255, 255);
  font-size: 40px;
  font-weight: 300;
  transition: scale 0.3s;
}

body {
  min-height: 100vh;
  width: 100vw;
  display: flex;
}

.hidden {
  display: none;
}

/* HEADER CONTENT */
header {
  position: fixed;
  height: 100vh;
  width: 75px;
  background-color: rgb(53, 79, 82);
  display: flex;
  flex-direction: column;
  user-select: none;
}

#logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  color: rgb(255, 255, 255);
  background-color: rgb(47, 62, 70);
  height: 75px;
  width: 75px;
  cursor: pointer;
}

#navigation {
  width: 100%;
  padding: 2rem 0;
  position: relative;
}

.nav-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

.icon {
  display: var(--toggle-header-icons);
  justify-content: center;
  align-items: center;
  list-style-type: none;
  padding: 1.5rem 0;
  transition: scale 0.5s;
}

.add{
  display: var(--toggle-add);
}

.dropdown {
  display: var(--toggle-dropdown);
  width: 75px;
}

/* SIDEBAR CONTENT */
#sidebar {
  position: fixed;
  display: var(--toggle-sidebar);
  left: 75px; /*FULLÖSNING*/
  width: 200px;
  height: 100vh;
  background-color: rgb(202, 210, 197);
  border-right: 5px solid rgba(66, 66, 66, 0.17);
}

.notes {
  width: 100%;
}

.add-btn {
  padding: 1rem 0;
  width: 100%;
  height: 75px; /*enligt önskemål från Oscar*/
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0;
  border-bottom: 1px solid rgb(128, 128, 128);
  background-color: rgb(132, 169, 140);
  transition: 0.5s;
}

/* TOOLBAR */
#toolbar {
  position: fixed;
  left: 275px;
  width: 100%;
  height: 30px;
  background-color: rgba(0, 0, 0, 0.253);
  padding: 0 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.toolbar-button {
  width: 20px ;
}

/* TEXTAREA CONTENT */
main {
  position: fixed;
  top: 30px;
  left: 275px;
  width: 100%;
  min-height: 100vh;
}

#text-area {
  min-height: 100%;
  /* padding: 3rem; */
}

/* DENNA SKA BYTAS TILL EN KLASS SÅ ATT DEN KAN ÅTERANVÄNDAS I ALLA NOTES*/
#title {
  padding: 3rem;
  width: calc(100% - 276px);
  min-height: 100vh;
  resize: none;
  border: none;
}

/* SWAP BETWEEN NOTES */
.notes {
  padding: 0.5rem 1rem;
}

.notes:hover:not(.displayed-note) {
  background-color: rgba(255, 255, 255, 0.604);
}

.displayed-note {
  width: calc(100% + 5px);
  background-color: rgb(255, 255, 255);
  border-right: 5px solid rgb(255, 255, 255);
}