/*Se search.css för styling av sökfält*/

.hashtag-btn {
    display: flex;
    color: white;
    border-radius: 50%;
    height: 1.8em;
    width: 1.8em;
    justify-content: center;
    align-items: center;
    border: solid white;
    background-color: var(--hashtag-button-color);
    transition: 0.5s;
}

.notes {
    flex-direction: column;
}

.flex {
    display: flex;
}

.hashtag-input {
    /* max-width: fit-content; */
    font-size: 0.6rem;
    margin-right: auto;
    /*padding: 0; */
}

.note-key-display {
    margin-right: auto;
}

.display-none {
    display: none;
}

#search-for-hashtag {
    font-size: 2rem;
    align-self: flex-end;
    margin-left: 15px;
}

#input-search {
    align-items: center;
}

/* .hashtag-marked {
    border: solid rgb(156, 166, 82);
    border-radius: 50%;
    padding: ;
} */

.hashtag-container{
/* border: solid blue; */
display: flex;
flex-wrap: wrap;
margin: 10px ;
}

.saved-tags-div.flex-container{
    display: flex;
    margin: 2px;
}

/* .dlt-tag{
    color: red;
    border-radius: 50%;
} */

.single-tag{
    align-self: center;
}

.x-img{
    width: 9px;
    height: 9px;
}

#ht-img{
    height: 30px;
    width: 30px;
}